<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Contact</title>
</head>

<body>

    <%- include('header'); %>

    <h1 class="m-5">Me contacter</h1>
    <p class="m-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus, lacus vel cursus malesuada,
        lectus nisl
        aliquet ipsum, at ornare arcu purus non dolor. In tempus porttitor lectus, nec ultricies eros facilisis auctor.
        Suspendisse ac urna neque. Aliquam vel malesuada ligula. Suspendisse et semper diam, vel tempus risus. Nam augue
        ipsum, tristique sed purus in, ultricies rhoncus mauris. Nulla mattis sem a tortor interdum ultrices. Vestibulum
        at condimentum metus, in euismod mauris. Aenean hendrerit sem nec velit imperdiet, at posuere sapien blandit.
        Nam ac arcu eget elit ultrices ultrices. Nunc augue elit, ultrices quis mi sit amet, tristique laoreet velit.
    </p>

    <p>
        <% for (var i=1; i <=5; i++) { %>
            <% if (i==1) { %>
                <p class="mx-5">Voici <%= i %> canard.</p>
                <% } else { %>
                    <p class="mx-5">Voici <%= i %> canards.</p>
                    <% } %>
                        <% } %>
    </p>

    <%- include('footer'); %>
</body>

</html>